.landing-bg-img {
    background: url("/static/img/main-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: background 1s ease-in;
}
body {
    margin: 0;
}
:root {
    --mdc-theme-primary: #fab1a0 !important;
}
.lobster {
    font-family: 'Lobster', cursive !important;
}
.mdc-drawer .mdc-list-item--activated {
    color: #fab1a0 !important;
}
.mdc-list .mdc-list-item__graphic {
    color: #fab1a0 !important;
}
.mdc-list-item__graphic, .mdc-drawer .mdc-list-item--activated {
    color: #e0735a !important;
}
.kashuan {
    font-family: 'Kaushan Script', cursive !important;
}
.txt-ctr {
    text-align: center;
}
@media screen and (max-width: 800px){
    .open-txt {
        margin-top: 38%;
    }
    .desktop-only {
        display: none;
    }
}
@media screen and (min-width: 801px){
    .open-txt {
        margin-top: 18%;
    }
    .mobile-only {
        display: none;
    }
}
.open-txt {
    font-size: 45px;
    padding: 0 20px;
}
.fear {
    display: none;
}
.flx-ctr {
    display: flex;
    justify-content: center;
}
.drawer-logo {
    height: 70px;
    margin: 20px 0 0 0;
}